name: Coverage

on:
  push:
    branches:
      - "main"
  pull_request:

jobs:
  coverage:
    runs-on: ubuntu-latest
    env:
      CARGO_TERM_COLOR: always
    steps:
      - uses: actions/checkout@v6
      - uses: dtolnay/rust-toolchain@nightly
        with:
          targets: wasm32-unknown-unknown
      - uses: taiki-e/install-action@just
      - uses: taiki-e/install-action@cargo-llvm-cov
      - name: Generate code coverage
        run: just cov --lcov --output-path lcov.info
